<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>My Spotify App</title>
</head>
<body>
  <% const playlist = playlists[playlistId]; %>
  <h1>My Spotify App</h1>

  <h3>Tracklist for <%=playlist.title%></h3>
  <p><%=playlist.description%></p>
  <style>
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 4fr 4fr;
      gap: 10px;
    }
    .track-number {
      grid-column: 1;
      text-align: center;
      align-self: center;
    }
    .google-track {
      grid-column: 2;
      align-self: center;
    }
    /* .title {
      grid-column: 2;
    }
    .artist {
      grid-column: 3;
    }
    .album {
      grid-column: 4;
    } */
    .spotify-tracks {
      grid-column: 3;
      align-self: center;

      display: grid;
      grid-template-columns: 1fr;
      gap: inherit;
    }
    /* .track-info, .track-number { */
    .track-info {
      background-color: lightblue;
      border-radius: 10px;
      padding: 10px;
    }
  </style>
  <div class="wrapper">
    <div class="track-number"><strong>Track No</strong></div>
    <div class="google-track">
      <strong>Google Track</strong>
      <!-- <div class="title"><strong>Title</strong></div>
      <div class="artist"><strong>Artist</strong></div>
      <div class="album"><strong>Album</strong></div> -->
    </div>
    <div class="spotify-tracks"><strong>Spotify Track(s)</strong></div>
    <% if (playlist.tracks) { %>
      <% playlist.tracks.forEach((track, index) => { %>
        <div class="track-number"><%=index + 1%></div>
        <div class="google-track track-info">
          <div class="title"><a href="/google_playlists/<%=playlistId%>/track/<%=index%>"><%=track.title%></a></div>
          <div class="artist"><%=track.artist%></div>
          <div class="album"><%=track.album%></div>
        </div>
        <div class="spotify-tracks">
          <% if (track.spotifyTracks) { %>
            <% track.spotifyTracks.forEach((spotifyTrack) => { %>
              <div class="track-info">
                <div class="title"><%=spotifyTrack.name%></div>
                <div class="artist"><%=spotifyTrack.artists.map((artist) => artist.name).join(', ')%></div>
                <div class="title"><%=spotifyTrack.album.name%></div>
              </div>
            <% }); %>
          <% } else { %>
            <div class="track-info">Spotify?</div>
          <% } %>
        </div>
      <% }) %>
    <% } else { %>
      <p>Playlist is empty</p>
    <% } %>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>