<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>My Spotify App</title>
</head>
<body>
  <h1>My Spotify App</h1>

  <style>
    .track-wrapper {
      display: grid;
      grid-template-columns: 5em auto;
      column-gap: 10px;
    }
    .track-heading {
      text-align: right;
      align-self: center;
      font-weight: bold;
    }
    .track-data {
      text-align: left;
      align-self: center;
    }
    .spotify-wrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
    }
    .spotify-track {
      align-self: center;
    }
    /* .title {
      grid-column: 1;
    }
    .artist {
      grid-column: 2;
    }
    .album {
      grid-column: 3;
    }
    .track-no {
      grid-column: 4;
    } */
    .track-info {
      background-color: lightblue;
      border-radius: 10px;
      padding: 10px;
    }
  </style>

  <h3>Details for Track <%=trackId%> in playlist <%=playlistId%></h3>
  <div class="track-wrapper">
    <% const track = playlists[playlistId].tracks[trackId]; %>
    <% const numResults = track.spotifyTracks.length; %>
    <% if (track) { %>
      <div class="track-heading">Title</div>
      <div class="track-data"><%=track.title%></div>
      <div class="track-heading">Artist</div>
      <div class="track-data"><%=track.artist%></div>
      <div class="track-heading">Album</div>
      <div class="track-data"><%=track.album%></div>
    <% } else { %>
      <p>Track is empty</p>
    <% } %>
  </div>

  <h3>Chosen Spotify track</h3>
  <div class="track-wrapper">
    <% const chosenTrackId = track.spotifyTracks.findIndex((spotifyTrack) => spotifyTrack.chosen); %>
    <% const chosenTrack = track.spotifyTracks[chosenTrackId]; %>
    <% if (chosenTrack) { %>
      <div class="track-heading">Title</div>
      <div class="track-data"><%=chosenTrack.name%></div>
      <div class="track-heading">Artist</div>
      <div class="track-data"><%=chosenTrack.artists.map((artist) => artist.name).join(', ')%></div>
      <div class="track-heading">Album</div>
      <div class="track-data"><%=chosenTrack.album.name%></div>
      <div class="track-heading">Track</></div>
      <div class="track-data"><%=chosenTrack.track_number%></div>
    <% } else { %>
      <p>Track is empty</p>
    <% } %>
  </div>


  <h3>Search for Spotify tracks</h3>
  <form action="/google_playlists/<%=playlistId%>/track/<%=trackId%>" method="get">
    <label for="track">Song Title</label>
    <input type="text" name="track" id="track">
    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist">
    <label for="album">Album</label>
    <input type="text" name="album" id="album">
    <input type="submit" value="Search">
  </form>

  <% const searchString = track.spotifySearchString; %>
  <% const searchResults = track.spotifySearchResults; %>
  <% if (searchString === '' && searchResults.length === 0) { %>
    <h3>Found <%=numResults - 1%> other Spotify tracks</h3>
    <div class="spotify-wrapper">
      <% if (numResults > 1) { %>
        <% track.spotifyTracks.forEach((spotifyTrack, spotifyTrackId) => { %>
          <% if (spotifyTrackId !== chosenTrackId) { %>
            <div class="track-wrapper">
              <div class="track-heading">Title</div>
              <div class="track-data"><%=spotifyTrack.name%></div>
              <div class="track-heading">Artist</div>
              <div class="track-data"><%=spotifyTrack.artists.map((artist) => artist.name).join(', ')%></div>
              <div class="track-heading">Album</div>
              <div class="track-data"><%=spotifyTrack.album.name%></div>
              <div class="track-heading">Track</></div>
              <div class="track-data"><%=spotifyTrack.track_number%></div>
            </div>
            <div class="spotify"><a href="<%=spotifyTrack.uri%>" class="btn btn-primary">Listen on Spotify</a></div>
            <div class="pick-me"><a href="/google_playlists/<%=playlistId%>/track/<%=trackId%>/pick_search_result/<%=spotifyTrackId%>" class="btn btn-primary">Pick Me!</a></div>
          <% } %>
        <% }) %>
      <% } else { %>
        <p>Search results are empty</p>
      <% } %>
    </div>
    <% } else { %>
      <% const numSearchResults = searchResults.length; %>
      <h3>Spotify search found <%=numSearchResults%> tracks: <%=searchString%></h3>
      <div class="spotify-wrapper">
        <% if (numSearchResults > 0) { %>
          <% searchResults.forEach((spotifyTrack, spotifyTrackId) => { %>
            <div class="track-wrapper">
              <div class="track-heading">Title</div>
              <div class="track-data"><%=spotifyTrack.name%></div>
              <div class="track-heading">Artist</div>
              <div class="track-data"><%=spotifyTrack.artists.map((artist) => artist.name).join(', ')%></div>
              <div class="track-heading">Album</div>
              <div class="track-data"><%=spotifyTrack.album.name%></div>
              <div class="track-heading">Track</></div>
              <div class="track-data"><%=spotifyTrack.track_number%></div>
            </div>
            <div class="spotify"><a href="<%=spotifyTrack.uri%>" class="btn btn-primary">Listen on Spotify</a></div>
            <div class="pick-me"><a href="/google_playlists/<%=playlistId%>/track/<%=trackId%>/pick_me/<%=spotifyTrackId%>" class="btn btn-primary">Pick Me!</a></div>
          <% }) %>
        <% } else { %>
          <p>Search results are empty</p>
        <% } %>
      </div>
  <% } %>

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>