<%- include('./partials/header'); %>

<h3>Library</h3>
<div class="library-wrapper">
  <div class="library-row library-column-heading">
    <div class="column-heading">Google Playlist</div>
    <div class="column-heading">Spotify Playlist</div>
  </div>
    <% googlePlaylists.forEach((googlePlaylist, googlePlaylistId) => { %>
      <div class="library-row library-entry" id="playlist-<%=googlePlaylistId%>">
        <div class="library-playlist">
          <div class="library-playlist-title"><%=googlePlaylist.name%></div>
          <div class="library-playlist-description"><%=googlePlaylist.description%></div>
          <div class="library-playlist-num-tracks"><%=googlePlaylist.googleTracks.length%> tracks</div>
          <div class="library-playlist-button">
            <form action="/playlist/<%=googlePlaylistId%>/delete" method="post">
              <input type="submit" value="Delete Playlist">
            </form>
          </div>
        </div>
        <% if (googlePlaylist.spotifyPlaylist) { %>
        <div class="library-playlist">  
          <div class="library-playlist-title"><%=googlePlaylist.spotifyPlaylist.name%></div>
          <div class="library-playlist-description"><%=googlePlaylist.spotifyPlaylist.description%></div>
          <div class="library-playlist-num-tracks"><%=googlePlaylist.spotifyPlaylist.tracks.total%> tracks</div>
          <div class="library-playlist-button"><a href="/playlist/<%=googlePlaylistId%>"><button>Edit Playlist</button></a></div>
        <% } else { %>
        <div class="library-playlist alert">  
          <div class="library-playlist-title">No matching playlist found</div>
          <div class="library-playlist-description"></div>
          <div class="library-playlist-num-tracks"></div>
          <div class="library-playlist-button">
            <form action="/playlist/add" method="post">
              <input type="hidden" name="playlist[id]" value="<%=googlePlaylistId%>">
              <input type="hidden" name="playlist[title]" value="<%=googlePlaylist.title%>">
              <input type="hidden" name="playlist[description]" value="<%=googlePlaylist.description%>">
              <input type="submit" value="Create Playlist">
            </form>
          </div>
        <% } %>
        </div>
      </div>
    <% }); %>
</div>

<%- include('./partials/footer'); %>