<%- include('./partials/header'); %>

<h3>Library</h3>
<div class="library-wrapper">
  <div class="library-row library-heading">
    <div class="column-heading">Google Playlist</div>
    <div class="column-heading">Spotify Playlist</div>
  </div>
    <% googlePlaylists.forEach((googlePlaylist, googlePlaylistId) => { %>
      <div class="library-row library-entry">
        <div class="library-playlist">
          <div class="library-playlist-title"><%=googlePlaylist.title%></div>
          <div class="library-playlist-description"><%=googlePlaylist.description%></div>
          <div class="library-playlist-num-tracks"><%=googlePlaylist.tracks.length%> tracks</div>
          <div class="library-playlist-button"><button>Delete</button></div>
        </div>
        <div class="library-playlist">
          <% const foundSpotifyPlaylist = spotifyPlaylists.find((spotifyPlaylist) => googlePlaylistId === spotifyPlaylist.googlePlaylistId); %>
          <% if (foundSpotifyPlaylist) { %>
            <div class="library-playlist-title"><%=foundSpotifyPlaylist.name%></div>
            <div class="library-playlist-description"><%=foundSpotifyPlaylist.description%></div>
            <div class="library-playlist-num-tracks"><%=foundSpotifyPlaylist.tracks.total%> tracks</div>
            <div class="library-playlist-button"><button>Edit</button></div>
          <% } else { %>
            <div class="library-playlist-title">No matching playlist found</div>
            <div class="library-playlist-description"></div>
            <div class="library-playlist-num-tracks"></div>
            <div class="library-playlist-button">
              <form action="/playlist/add" method="post">
                <input type="hidden" name="playlist[id]" value="<%=googlePlaylistId%>">
                <input type="hidden" name="playlist[title]" value="<%=googlePlaylist.title%>">
                <input type="hidden" name="playlist[description]" value="<%=googlePlaylist.description%>">
                <input type="submit" value="Create Playlist">
              </form>
            </div>
          <% } %>
        </div>
      </div>
    <% }); %>
</div>

<%- include('./partials/footer'); %>