<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>My Spotify App</title>
</head>
<body>
  <h1>My Spotify App</h1>

  <h3><%=user.display_name%>'s Playlists</h3>
  <div class="media-body">
    <ul>
      <% playlists.forEach((playlist) => { %>
        <li><%= playlist.name %></li>
      <% }); %>
      <!-- <dt>Display name</dt><dd class="clearfix"><%=user.display_name%></dd>
      <dt>Id</dt><dd><%=user.id%></dd>
      <dt>Email</dt><dd><%=user.email%></dd>
      <dt>Spotify URI</dt><dd><a href="<%=user.external_urls.spotify%>"><%user.external_urls.spotify%></a></dd>
      <dt>Link</dt><dd><a href="<%=user.href%>"><%=user.href%></a></dd>
      <dt>Profile Image</dt><dd class="clearfix"><a href="<%=user.images[0].url%>"><%=user.images[0].url%></a></dd>
      <dt>Country</dt><dd><%=user.country%></dd> -->
    </ul>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>