<%- include('./partials/header'); %>

<h3>Playlists</h3>
<div class="playlist-wrapper">
  <div class="playlist-row playlist-heading-row">
    <div class="column-heading">Google Playlist</div>
    <div class="column-heading">Spotify Playlist</div>
  </div>
    <% googlePlaylists.forEach((googlePlaylist, googlePlaylistId) => { %>
      <div class="playlist-row playlist-entry-row">
        <div class="individual-playlist-wrapper">
          <div class="playlist-title"><%=googlePlaylist.title%></div>
          <div class="playlist-description"><%=googlePlaylist.description%></div>
          <div class="playlist-num-tracks"><%=googlePlaylist.tracks.length%> tracks</div>
          <div class="playlist-button"><button>Delete</button></div>
        </div>
        <div class="individual-playlist-wrapper">
          <% const foundSpotifyPlaylist = spotifyPlaylists.find((spotifyPlaylist) => googlePlaylist.title === spotifyPlaylist.name); %>
          <% if (foundSpotifyPlaylist) { %>
            <div class="playlist-title"><%=foundSpotifyPlaylist.name%></div>
            <div class="playlist-description"><%=foundSpotifyPlaylist.description%></div>
            <div class="playlist-num-tracks"><%=foundSpotifyPlaylist.tracks.total%> tracks</div>
            <div class="playlist-button"><button>Edit</button></div>
          <% } else { %>
            <div class="playlist-title">No matching playlist found</div>
            <div class="playlist-description"></div>
            <div class="playlist-num-tracks"></div>
            <div class="playlist-button">
              <form action="/playlist/add" method="post">
                <input type="hidden" name="playlist[id]" value="<%=googlePlaylistId%>">
                <input type="hidden" name="playlist[title]" value="<%=googlePlaylist.title%>">
                <input type="hidden" name="playlist[description]" value="<%=googlePlaylist.description%>">
                <input type="submit" value="Add Playlist">
              </form>
            </div>
          <% } %>
        </div>
      </div>
    <% }); %>
</div>

<%- include('./partials/footer'); %>