<%- include('./partials/header'); %>

<h3>Editing Playlist: <%=googlePlaylist.name%></h3>
<div>
  <a href="/"><button class="header-button">Cancel</button></a>
  <div class="header-button">
    <form action="/playlist/<%=playlistId%>/upload" method="post">
      <input type="submit" value="Upload to Spotify">
    </form>
  </div>
</div>
<div class="playlist-wrapper">
  <div class="playlist-row playlist-column-heading">
    <div class="column-heading">Track No.</div>
    <div class="column-heading">Google</div>
    <div class="column-heading">Spotify</div>
  </div>
  <% googlePlaylist.googleTracks.forEach((googleTrack, trackId) => { %>
    <div class="playlist-row playlist-entry" id="result-<%=trackId%>">
      <div class="playlist-track-id"><%=trackId%></div>
      <div class="playlist-track">
        <div class="track-heading">Title</div>
        <div class="track-data"><%=googleTrack.name%></div>
        <div class="track-heading">Artist</div>
        <div class="track-data"><%=googleTrack.artist%></div>
        <div class="track-heading">Album</div>
        <div class="track-data"><%=googleTrack.album%></div>
        <div class="track-button">
          <form action="/playlist/<%=playlistId%>/track/<%=trackId%>/delete" method="post">
            <input type="submit" value="Delete Track">
          </form>
        </div>
      </div>
      <% if (googleTrack.spotifyTrack) { %>
      <% const spotifyTrack = googleTrack.spotifyTrack; %>
      <div class="playlist-track">
        <div class="track-heading">Title</div>
        <% if (googleTrack.name !== spotifyTrack.name) { %>
        <div class="track-data caution">
        <% } else { %>
        <div class="track-data">
        <% } %>
          <%=spotifyTrack.name%>
        </div>
        <div class="track-heading">Artist</div>
        <% const spotifyTrackArtists = spotifyTrack.artists.map((artist) => artist.name).join(', '); %>
        <% if (googleTrack.artist !== spotifyTrackArtists) { %>
        <div class="track-data caution">
        <% } else { %>
        <div class="track-data">
        <% } %>
          <%=spotifyTrackArtists%>
        </div>
        <div class="track-heading">Album</div>
        <% if (googleTrack.album !== spotifyTrack.album.name) { %>
        <div class="track-data caution">
        <% } else { %>
        <div class="track-data">
        <% } %>
          <%=spotifyTrack.album.name%>
        </div>
        <div class="track-heading">Track No</div>
        <div class="track-data"><%=spotifyTrack.track_number%></div>
      <% } else { %>
      <div class="playlist-track alert">
        <div class="track-heading">No matching Spotify track</div>
      <% } %>
        <div class="track-button">
          <a href="/playlist/<%=playlistId%>/track/<%=trackId%>"><button>Edit Track</button></a>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('./partials/footer'); %>